.is-desktop-preview {
    .editor-styles-wrapper {
        padding-left: 4rem;
        padding-right: 2rem;
        max-width: 800px;
    }
}

/* Hide the native WP sticky post functionality */
.components-panel .edit-post-post-status > .components-panel__row:not(
    .edit-post-post-visibility, 
    .edit-post-post-schedule, 
    .edit-post-post-author, 
    :last-child) {
    display: none;
}
