@font-face {
    font-family: "Necto Mono";
    src: url("../fonts/NectoMono-Regular.otf");
    src: url("../fonts/Necto-Mono.woff2") format("woff2"),
      url("../fonts/Necto-Mono.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    @apply font-rubik;
}

.nav-primary {
    height: 100vh;
}

.nav-primary #menu-primary a {
    @apply text-4xl text-white uppercase font-bold tracking-tight font-rubik;
}

.nav-primary #menu-primary a:hover {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.nav-primary .search-form {
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    width: 1305px;
    max-width: 82%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0.4rem 0;
}

.nav-primary .search-form .search-field {
    padding: 0 0 0 0.2rem;
    @apply bg-black text-4xl w-full uppercase font-rubik font-bold tracking-tight;
}

.search-submit {
    /* color: transparent!important; */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 105 89' style='enable-background:new 0 0 105 89;' xml:space='preserve'%3E%3Cg style='fill:none;stroke:%23FFF;stroke-width:3.5px;'%3E%3Cpath class='st0' d='M52.6,88.6l49.6-44l-49.6-44'/%3E%3Cpath class='st0' d='M2.4,44.6l99.2,0'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 12%;
    max-width: 50px;
    padding: 0 0.8rem 0 0;
    height: 40px;
    border-radius: 0;
}

@media screen(lg) {
    .nav-wrapper {
        width: 100px;
        position: fixed;
        z-index: 999;
    }

    .navigating .nav-primary {
        @apply w-screen absolute left-0;
    }

    .nav-header {
        width: 100px;
    }

    .nav-primary {
        margin-left: 100px;
    }

    .nav-primary #menu-primary a,
    .nav-primary .search-form .search-field {
        @apply text-6xl;
    }

    .nav-primary #menu-primary li {
        @apply mb-1;
    }

    .nav-primary .search-submit {
        @apply mt-3;
    }

    main.main {
        margin-left: 100px;
    }
}