@font-face {
    font-family: "Necto Mono";
    src: url("../fonts/NectoMono-Regular.otf");
    src: url("../fonts/Necto-Mono.woff2") format("woff2"),
      url("../fonts/Necto-Mono.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    @apply font-rubik;
}

.nav-primary {
    height: 100vh;
}

.nav-primary #menu-primary a {
    @apply text-4xl text-white uppercase font-bold tracking-tight font-rubik;
}

.nav-primary #menu-primary a:hover {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.nav-primary .search-form {
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    width: 1305px;
    max-width: 82%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0.4rem 0;
}

.nav-primary .search-form .search-field {
    padding: 0 0 0 0.2rem;
    @apply bg-black text-4xl w-full uppercase font-rubik font-bold tracking-tight;
}

.img-fill {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

.anchor-fill {
    display: block;
    width: 100%;
    height: 100%;
}
  
.underlay-fill {
    display: flex;
    width: 100%;
}

@media screen(lg) {
    .nav-wrapper {
        width: 100px;
        position: fixed;
        z-index: 999;
    }

    .navigating .nav-primary {
        @apply w-screen absolute left-0;
    }

    .nav-header {
        width: 100px;
    }

    .nav-primary {
        margin-left: 100px;
    }

    .nav-primary #menu-primary a,
    .nav-primary .search-form .search-field {
        @apply text-6xl;
    }

    .nav-primary #menu-primary li {
        @apply mb-1;
    }

    .nav-primary .search-submit {
        @apply mt-3;
    }

    main.main {
        margin-left: 100px;
    }
}