.post-type-archive-lpe_event {
    .archive-nav .generic-button:hover {
        @apply border-white text-white;
    }
}

.primers-btn a:hover,
.primers-nav a:hover,
.speakers-nav a:hover,
.bg-tahini-500 a:hover {
    @apply border-white text-white;
}

.primers-blurb p {
    @apply mb-4;
}

.primers-blurb a {
    @apply underline;

    &:hover {
        @apply text-white;
    }
}

.learn-header h2.wp-block-heading {
    @apply text-2xl font-bold uppercase leading-none block font-rubik tracking-tighter mb-4 mt-1;
}

.learn-header ul.nav a,
.engage-header ul.nav a {
    @apply text-xl font-semibold uppercase leading-none block font-rubik tracking-tighter mb-1;
}

.learn-header ul.nav a:hover,
.engage-header ul.nav a:hover {
    @apply text-tahini-500;
}

.speakers-blurb p {
    @apply mb-6;
}

.speakers-blurb p a {
    @apply underline;
}

.speakers-blurb a:hover {
    @apply text-tahini-500;
}

.speaker-topic-dropdown:hover {
    svg {
        @apply text-white;
    }
}

a.topic-item:hover {
    @apply text-black;
}

.page-template-template-conference {
    .conf-copy p {
        @apply mb-4;
    }
}

.page-template-template-conference .rounded-panel {
    border-radius: 2.5rem;
}

/* conf zone */

.card--expanded {
    grid-column: span 2;
}

/* .rounded-panel.odd {
    @apply border-emerald-700 border-4;
} */

.event-body p {
    @apply mb-6;
}

.scroll-position .inner-card {
    @apply h-full;
    max-height: 380px;
}

.scroll-position.card--expanded .inner-card {
    max-height: 2500px;
}

@media screen(lg) {
    .learn-header h2.wp-block-heading {
        @apply text-4xl mb-6;
    }

    .page-template-template-conference .rounded-panel {
        border-radius: 4rem;
    }
}

@media screen(xl) {
    .page-template-template-conference .rounded-panel {
        border-radius: 5rem;
    }
}