.author-wrap span,
.author-wrap a {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.blog .widget_search label {
    @apply sr-only;
}

.single-post {
    .lpe-contrib:hover {
        -webkit-text-fill-color: black;
        -webkit-text-stroke-width: 0;
    }

    .lpe-bios a {
        @apply text-tahini-700 underline;
    }

    .lpe-bios a:hover {
        @apply text-black;
    }
}